/*====================
    CUSTOM PROPERTIES
  ====================*/
:root {
  /* fonts */
  --main-font: 'PT Sans', sans-serif;
  --accent-font: 'Cuprum', sans-serif;

  /* colors */
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-dark: #32425c;
  --darker: #293449;
  --basic-light: #f3f7f8;
  --basic-grey: #f7f3ec;
  --light-grey: #f9f5f0;
  --accent: #ee3643;
  --gold: #ffda96;
}


/*====================
    BASIC STYLES
  ====================*/
html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-height: 100%;
  font: 400 13px/24px var(--main-font);
  color: var(--basic-black);
  background-color: #ffffff;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

button,
a {
  display: inline-block;
}

button {
  cursor: pointer;
}

textarea {
  resize: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}


/*====================
    ELEMENTS
  ====================*/
.logo {
  line-height: 0;
}

.logo[href]:focus {
  outline: 5px solid var(--basic-light);
  outline-offset: -5px;
}

.logo[href]:hover {
  filter: brightness(0.9);
  outline: none;
}

.logo[href]:active {
  filter: brightness(0.8);
}

.inline-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav-link {
  font: 400 17px/17px var(--accent-font);
  text-decoration: none;
  color: var(--basic-white);
  cursor: pointer;
}


/*====================
    MAIN STYLES
  ====================*/
/* header */
.header {
  font-family: var(--accent-font);
}

.header__top-row {
  color: var(--basic-white);
  background-color: var(--darker);
}

.header__top-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  margin-bottom: -5px;
}

.search-form {
  position: relative;
  flex-grow: 1;
  height: 42px;
}

.search-form::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 18px;
  width: 17px;
  height: 17px;
  background-image: url("../images/icons/search-icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateY(-50%);
  filter: brightness(0) invert(1);
  opacity: 0.3;
}

.search-form:hover::before {
  opacity: 1;
}

.search-form:focus-within::before {
  filter: none;
  opacity: 1;
}

.search-form__input {
  width: 100%;
  height: 100%;
  padding: 5px 5px 5px 50px;
  font: 17px/18px var(--accent-font);
  color: var(--basic-white);
  background-color: transparent;
  border: none;
  outline: none;
}

.search-form__input::placeholder {
  color: var(--basic-white);
}

.search-form__input:hover {
  background-color: #212a3a;
}

.search-form__input:focus {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.search-form__input:focus::placeholder {
  color: var(--basic-black);
}

.search-form__input::-webkit-search-decoration,
.search-form__input::-webkit-search-cancel-button,
.search-form__input::-webkit-search-results-button,
.search-form__input::-webkit-search-results-decoration {
  display: none;
}

.iconed-link {
  position: relative;
  padding: 12px 35px 13px 45px;
}

.iconed-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 17px;
  transform: translateY(-50%);
  opacity: 0.3;
}

.iconed-link:focus {
  outline: 3px solid var(--basic-light);
  outline-offset: -5px;
}

.iconed-link:hover {
  outline: none;
  background-color: #212a3a;
}

.iconed-link:hover::before {
  opacity: 1;
}

.iconed-link:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.iconed-link:active::before {
  opacity: 0.5;
}

.bookmarks-link::before {
  width: 14px;
  height: 16px;
  background-image: url("../images/icons/bookmark-icon.png");
}

.cart-link::before {
  width: 15px;
  height: 15px;
  background-image: url("../images/icons/cart-icon.png");
}

.cart-link--active {
  background-color: var(--accent);
}

.cart-link--active:hover {
  background-color: var(--accent);
  filter: brightness(0.9);
}

.cart-link--active:active {
  background-color: var(--accent);
  filter: brightness(0.8);
}

.order-link {
  padding: 12px 22px 13px;
  background-color: #63a63e;
}

.order-link:focus {
  outline: 3px solid var(--basic-light);
  outline-offset: -5px;
}

.order-link:hover {
  background-color: #5fbb2d;
  outline: none;
}

.order-link:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #518534;
}

.header__content {
  padding: 40px 0 60px;
  background-color: var(--basic-light);
}

.header__content-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 40px;
  padding-left: 50px;
}

.header__text {
  width: 200px;
  margin: 0;
  font-style: italic;
  font-size: 16px;
  color: var(--accent);
}

.header__address {
  margin-left: auto;
  font-style: normal;
}

.header__tel {
  position: relative;
  width: 270px;
  margin-bottom: 5px;
  padding: 8px 40px;
  font-size: 21px;
  text-align: center;
  text-decoration: none;
  color: var(--accent);
  border: 3px solid var(--basic-white);
  outline: none;
}

.header__tel::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 13px;
  width: 19px;
  height: 19px;
  background-image: url("../images/icons/phone-icon.png");
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateY(-50%);
}

.header__tel:focus {
  border-color: var(--basic-dark);
}

.header__tel:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
  border-color: var(--basic-white);
}

.header__tel:active {
  color: rgba(0, 0, 0, 0.3);
}

.header__address-text {
  margin: 0;
  font-size: 14px;
  text-align: center;
  color: var(--basic-dark);
}

.header__buttons {
  display: flex;
  margin: 0 0 0 auto;
}

.header__button {
  padding: 11px 25px;
  font-size: 21px;
  text-decoration: none;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.header__button:focus {
  outline: 3px solid var(--basic-dark);
  outline-offset: -3px;
}

.header__button:hover {
  color: var(--accent);
  outline: none;
}

.header__button-login:hover::before {
  opacity: 1;
}

.header__button:active {
  color: rgba(0, 0, 0, 0.3);
}

.header__button-login:active::before {
  opacity: 0.3;
}

.header__button + .header__button {
  margin-left: 10px;
}

.header__button-login {
  position: relative;
  padding-left: 50px;
}

.header__button-login::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 14px;
  width: 20px;
  height: 17px;
  background-image: url("../images/icons/login-icon.png");
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateY(-50%);
  opacity: 0.3;
}

.user {
  margin-left: auto;
}

.user__profile {
  position: relative;
  display: block;
  min-width: 300px;
  margin-bottom: 5px;
  padding: 10px 45px 11px;
  font-size: 21px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.user__profile::before,
.user__profile::after {
  content: "";
  position: absolute;
  top: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateY(-50%);
  opacity: 0.3;
}

.user__profile::before {
  left: 13px;
  width: 20px;
  height: 18px;
  background-image: url("../images/icons/user-icon.png");
}

.user__profile::after {
  right: 10px;
  width: 21px;
  height: 17px;
  background-image: url("../images/icons/logout-icon.png");
}

.user__profile:focus {
  outline: 3px solid var(--basic-dark);
}

.user__profile:hover {
  outline: none;
}

.user__profile:hover::before,
.user__profile:hover::after {
  opacity: 1;
}

.user__profile:active {
  color: rgba(0, 0, 0, 0.3);
}

.user__profile:active::before,
.user__profile:active::after {
  opacity: 0.3;
}

.user__links {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 18px;
}

.user__link {
  color: var(--basic-dark);
  text-decoration-skip-ink: none;
  text-underline-offset: under;
}

.user__link:focus {
  outline: 2px solid var(--basic-dark);
  outline-offset: 3px;
}

.user__link:hover {
  color: var(--accent);
  outline: none;
}

.user__link:active {
  color: var(--basic-dark);
  opacity: 0.3;
}

.user__link + .user__link {
  position: relative;
  padding-left: 16px;
  margin-left: 15px;
}

.user__link+.user__link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 4px;
  height: 4px;
  background-color: var(--basic-dark);
  border-radius: 50%;
  transform: translateY(-50%);
}

.navigation {
  background-color: var(--basic-dark);
  border-bottom: 5px solid var(--darker);
}

.navigation__list {
  justify-content: space-between;
}

.navigation__link {
  padding: 19px 33px;
}

.navigation__link:focus {
  outline: 3px solid var(--basic-light);
  outline-offset: -5px;
}

.navigation__link:hover {
  background-color: var(--darker);
  outline: none;
}

.navigation__link:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}


/* footer */
.footer {
  font-family: var(--accent-font);
  color: var(--basic-white);
}

.footer__top {
  padding-bottom: 50px;
  background-color: var(--basic-dark);
}

.footer__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__row + .footer__row {
  align-items: baseline;
  margin-top: 25px;
}

.footer__nav {
  align-items: flex-end;
}

.footer__list-link {
  padding: 10px 30px;
}

.footer__list-link:focus {
  outline: 3px solid var(--basic-light);
  outline-offset: -3px;
}

.footer__list-link:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  outline: none;
}

.footer__list-link:active {
  opacity: 0.5;
}

.footer__address {
  max-width: 330px;
  font-style: normal;
  font-size: 18px;
}

.footer__address-text {
  margin: 0;
}

.footer__address-tel {
  text-decoration: none;
  color: var(--basic-white);
}

.footer__address-tel:focus {
  outline: 3px solid var(--basic-light);
  outline-offset: 2px;
}

.footer__address-tel:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  outline: none;
}

.footer__address-tel:active {
  opacity: 0.5;
}

.footer__products .footer__list-link {
  color: var(--gold);
}

.footer__nav,
.footer__products {
  margin-right: -30px;
}

.footer__bottom {
  background-color: var(--darker);
}

.footer__bottom-row {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

.footer__text {
  max-width: 240px;
  margin: 0 auto 0 0;
  font-size: 16px;
  line-height: 18px;
}

.socials {
  display: grid;
  grid-template-columns: repeat(3, 40px);
  gap: 5px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.socials__link {
  width: 40px;
  height: 40px;
  background-color: #212a3a;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.socials__link:focus {
  outline: 3px solid var(--basic-light);
}

.socials__link:hover {
  background-color: var(--accent);
  outline: none;
}

.socials__link:active {
  opacity: 0.5;
}

.socials__link--vk {
  background-image: url("../images/icons/vk-icon.png");
  background-size: 26px 15px;
}

.socials__link--fb {
  background-image: url("../images/icons/fb-icon.png");
  background-size: 12px 22px;
}

.socials__link--inst {
  background-image: url("../images/icons/insta-icon.png");
  background-size: 21px 21px;
}

.footer__links {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
}

.footer__link-text {
  margin: 0;
  font-size: 16px;
  line-height: 18px;
}

.footer__link-text + .footer__link-text {
  margin-left: 50px;
}

.footer__link {
  text-decoration: none;
  color: var(--gold);
}

.footer__link:focus {
  outline: 3px solid var(--basic-light);
  outline-offset: 2px;
}

.footer__link:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  outline: none;
}

.footer__link:active {
  text-decoration: none;
  color: var(--accent);
}


/*====================
    ANIMATIONS
  ==================== */



/*====================
    DESCTOP FIRST ADAPTIVE
  ==================== */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {}
