/*====================
    CUSTOM PROPERTIES
  ====================*/
:root {
  /* fonts */
  --main-font: 'PT Sans', sans-serif;
  --accent-font: 'Cuprum', sans-serif;

  /* colors */
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-dark: #293449;
  --lighter-dark: #32425c;
  --basic-grey: #f7f2ec;
  --light-grey: #f9f5f0;
  --basic-light: #f3f7f8;
  --accent: #ee3643;
  --darker-accent: #ca2b36;
  --darkest-accent: #ba2731;
  --accent-text: #ffd180;
  --yellow: #ffbf47;
  --blue: #3bbce3;
  --pink: #dc91d8;
  --light-green: #8Ed78f;
  --green: #5fbb2d;
  --dark-green: #63a63e;
  --darkest-green: #508534;
}


/*====================
    ELEMENTS
  ====================*/



/*====================
    BASIC STYLES
  ====================*/
html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-height: 100%;
  font: var(--main-font);
  color: var(--lighter-dark);
  background-color: #ffffff;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

button,
a {
  display: inline-block;
}

button {
  cursor: pointer;
}

textarea {
  resize: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.container {}


/*====================
    ANIMATIONS
  ==================== */



/*====================
    DESCTOP FIRST ADAPTIVE
  ==================== */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {}
